body{ 
    color:rgb(5, 5, 5);
    background: red;
    margin: 0px;
}
header{
    border: solid 2px rgb(252, 253, 245);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255)
}